body{
    font-family: inherit;
    font-size: 150%;
    line-height: 1.0;
    color: #111;
    background-color: aqua;
}

body{
    margin: 0;
}

.menu{
    text-align: center;
}
.menu a{
    color: #888;
    text-decoration: none;
    padding: 2em 2em;
    display: inline-block;
}
.menu a:hover{
    color: white;
    background-color: #234;
}
.menu a.active{
    
    background-color: #234;
    color: white;
}
.site-footer{
    background-color: yellow;
    padding: 2em;
    font-size: 70pts;
    font-weight: bold;
}
.main-content{
    margin: 0 auto;
    text-align: center;
}
.grid{
    display: flex;
    width: 60%;
}
.main-title{
    font-size: 48pts;
    margin-bottom: 0;
}
.main-sub-title{
    font-size: 24pts;
    font-weight: italic;
}
.site-header{
    background-color: yellow;
    display: flex;
    align-items: center;
}
.logo{
    margin-right: auto;
    padding: 2em 2em;
    color: yellow;
}
.summary{
    font-weight: 50%;
}
.featured-img{
    width: 70%;
}
